{{ 'editorial-categories.css' | asset_url | stylesheet_tag }}


<style>
  #shopify-section-{{ section.id }} {
    --editorial-categories-bg: {{ section.settings.background }};
  }
</style>

<section class="editorial-categories">
  <div class="editorial-categories__container page-width">
    <div class="editorial-categories__grid editorial-categories__grid--{{ section.blocks.size }}">
      {% for block in section.blocks %}
        {% assign card_classes = "editorial-categories__card" %}
        
        {% if block.settings.content_position == 'content-top' %}
          {% assign card_classes = card_classes | append: " editorial-categories__card--content-top" %}
        {% endif %}
        
        <a
          href="{{ block.settings.link }}"
          class="{{ card_classes }}"
          aria-label="{{ block.settings.title | escape }}"
          {{ block.shopify_attributes }}
          style="--desktop-margin-top: {{ block.settings.desktop_margin_top }}px;"
        >
          {% if block.settings.content_position == 'content-top' %}
            <!-- Conteúdo em cima, Imagem embaixo -->
            <div class="editorial-categories__content" 
              data-align-content="{{ block.settings.align_content_position }}">
              {% if block.settings.title %}
                <h3 class="editorial-categories__title">
                  {{ block.settings.title }}
                </h3>
              {% endif %}

              {% if block.settings.description != blank %}
                <p class="editorial-categories__description">
                  {{ block.settings.description }}
                </p>
              {% endif %}

              {% if block.settings.cta_label %}
                <span class="editorial-categories__cta">
                  {{ block.settings.cta_label }}
                   <img 
                    src="{{ 'arrow-right-alt.svg' | asset_url }}" 
                    alt="Arrow right icon"
                    width="20" 
                    height="20" 
                    loading="lazy"
                  >
                </span>
              {% endif %}
            </div>

            <div class="editorial-categories__image-wrapper">
              {% if block.settings.image %}
                <img
                  src="{{ block.settings.image | image_url: width: 900 }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="600"
                  height="600"
                >
              {% endif %}
            </div>

          {% else %}
            <!-- Imagem em cima, Conteúdo embaixo (padrão) -->
            <div class="editorial-categories__image-wrapper">
              {% if block.settings.image %}
                <img
                  src="{{ block.settings.image | image_url: width: 900 }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="600"
                  height="600"
                >
              {% endif %}
            </div>

            <div class="editorial-categories__content"              
             data-align-content="{{ block.settings.align_content_position }}">

              {% if block.settings.title %}
                <h3 class="editorial-categories__title">
                  {{ block.settings.title }}
                </h3>
              {% endif %}

              {% if block.settings.description != blank %}
                <p class="editorial-categories__description">
                  {{ block.settings.description }}
                </p>
              {% endif %}

              {% if block.settings.cta_label %}
                <span class="editorial-categories__cta">
                  {{ block.settings.cta_label }}
                   <img 
                    src="{{ 'arrow-right-alt.svg' | asset_url }}" 
                    alt="Arrow right icon"
                    width="20" 
                    height="20" 
                    loading="lazy"
                  >
                </span>
              {% endif %}
            </div>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Categorias editorial",
  "tag": "section",
  "class": "section-editorial-categories",
  "max_blocks": 3,
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Cor de fundo",
      "default": "#f5f5f5"
    },
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Categoria",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagem"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Posição do conteúdo",
          "options": [
            {
              "value": "image-top",
              "label": "Imagem em cima | Conteúdo embaixo"
            },
            {
              "value": "content-top",
              "label": "Conteúdo em cima | Imagem embaixo"
            }
          ],
          "default": "image-top"
        },
         {
          "type": "select",
          "id": "align_content_position",
          "label": "Alinhamento do conteúdo",
          "options": [
            {
              "value": "start",
              "label": "Alinhado à esquerda"
            },
            {
              "value": "center",
              "label": "Centralizado"
            },
            {
              "value": "end",
              "label": "Alinhado à direita"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "Rasteiras & Birkens"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Descrição",
          "default": "A categoria de Sandália Rasteira da Sapatella é um verdadeiro paraíso para os amantes de conforto e estilo."
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "Texto do CTA",
          "default": "Eu quero"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link de destino"
        },
        {
          "type": "range",
          "id": "desktop_margin_top",
          "label": "Margem superior no desktop (px)",
          "min": 0,
          "max": 200,
          "step": 4,
          "default": 0,
          "info": "Ajuste a posição vertical de cada card no desktop"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categorias editorial",
      "blocks": [
        {
          "type": "category",
          "settings": {
            "title": "Rasteiras & Birkens",
            "description": "A categoria de Sandália Rasteira da Sapatella é um verdadeiro paraíso para os amantes de conforto e estilo.",
            "cta_label": "Eu quero",
            "content_position": "image-top",
            "desktop_margin_top": 0
          }
        },
        {
          "type": "category",
          "settings": {
            "title": "Sandálias",
            "description": "",
            "cta_label": "Conferir",
            "content_position": "content-top",
            "desktop_margin_top": 64
          }
        },
        {
          "type": "category",
          "settings": {
            "title": "Tênis",
            "description": "Os tênis femininos se tornaram um item básico na moda e nos calçados do dia a dia.",
            "cta_label": "Conferir",
            "content_position": "image-top",
            "desktop_margin_top": 32
          }
        }
      ]
    }
  ]
}
{% endschema %}